.page-title-description {
  opacity: 0.7;
  display: inline-block;
  font-size: 13px;
  font-style: italic;
  padding-left: 8px;
  top: -3px;
  position: relative;

  &--bookings {
    top: -4px;
    margin-left: 10px;
    padding: 4px 13px;
    background-color: #fddc0d;
    font-size: 0.8rem;
    font-weight: bold;
    border-radius: 4px;
  }
}