.page-title-description {
  opacity: 0.7;
  display: inline-block;
  font-size: 13px;
  font-style: italic;
  padding-left: 8px;
  top: -3px;
  position: relative;

  &--bookings {
    top: -4px;
    margin-left: 10px;
    padding: 4px 13px;
    background-color: #fddc0d;
    font-size: 0.8rem;
    font-weight: bold;
    border-radius: 4px;
  }
}

.readonly {
  position: relative;
  &:before {
    position: absolute;
    z-index: 1;
    display: block;
    content: '';
    cursor: default;
    background-color: transparent;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  .exclusions-datepicker .vdp-datepicker__calendar > header {
    .prev, .next {
      opacity: 0;
    }
  }
}

.button-hero-row {
  display: flex;
  margin: 0 -8px;
  a.button.button-hero {
    flex-grow: 1;
    flex-basis: 0;
    justify-content: center;
    vertical-align: middle !important;
    height: auto !important;
    text-align: center;
    padding: 12px 36px !important;
    line-height: 1.5;
    margin: 8px;
    flex-direction: column;
    display: flex;
  }
}