.session-length {
  padding: 16px 0;

  &__input {
    width: 75px;

    &--wide {
      width: 100px;
    }
  }

  &__options {
    padding-right: 36px;

    @include breakpoint(mobile) {
      padding-right: 1rem;
      &:first-child {
        flex-grow: 1;
        input {
          width: 50%;
        }
      }
      &:last-child {
        flex-shrink: 0;
        width: 30%;
        input {
          width: 100% !important;
        }
      }
    }

    &:last-child {
      padding-right: 0;
    }

    legend {
      font-weight: 600;
      padding-bottom: 6px;
    }
  }

  &__validation {
    font-weight: bold;
    color: $alert-color;
    line-height: 2.1;
    padding-left: 8px;

    @include breakpoint(mobile) {
      line-height: initial;
    }
  }

  &__buttons {
  }

  &__footer {
    padding: 12px 0;
    display: flex;
  }

  select {
    vertical-align: inherit !important;
  }
}

.session-item {
  padding-bottom: 6px;
  display: flex;
  color: #7a7a7a;

  &s {
    max-width: 230px;
    width: 100%;

    &__holder {
      max-height: 260px;
      overflow-y: auto;
    }
  }

  &__length {
    flex-shrink: 0;
    width: 65%;
  }

  &__price {
    flex-shrink: 0;
    width: 25%;
  }

  &__action {
    .dashicons {
      opacity: .7;

      &:hover {
        opacity: 1;
        cursor: pointer;
      }
    }
  }
}
.session-head {
  display: flex;
  padding-bottom: 20px;
}

.session-bookable {
  padding-top: 6px;

  &__title {
    font-weight: 600;
    padding-bottom: 12px;
  }
}