.disabled {
  position: relative;
  user-select: none;

  &:after {
    position: absolute;
    display: block;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: calc(100% + 1px);
    background-color: transparentize($white, .5);
    z-index: 9;
    cursor: not-allowed;
  }
  cursor: not-allowed;
}

.form-row {
  display: flex;
  margin-bottom: 1.5rem;

  &--condensed {
    margin-bottom: 1rem;
  }

  &--with-error {
    & > .form-row__label {
      color: $alert-color;
      .form-row__error {
        color: $alert-color;
      }
    }
  }

  &__field {
    width: 100%;
  }

  &--inline {
    .form-row__label {
      width: auto;
    }
  }

  &--vertical {
    display: block;

    &:last-child {
      margin-bottom: 1.5rem !important;
    }

    .form-row__label {
      width: auto;
      padding-bottom: 4px;
    }

    .form-row__input {
      padding-left: 0;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }

  &__form {
    .form-row__error {
      margin-top: -4px;
      margin-bottom: 6px;
    }
  }

  &__word {
    margin: 0 2px;
  }

  @include breakpoint(mobile) {
    display: block;

    .form-row__label {
      width: auto;
      padding-bottom: 4px;
    }

    .form-row__input {
      padding-left: 0;
    }
  }

  &__input {
    flex-grow: 1;
    padding-left: 8px;
    &--padded {
      padding-top: 4px;
    }
  }

  &__input-with-description {
    display: inline-block;
    position: relative;
    margin-bottom: .35rem;

    .form-row__description {
      padding-top: 0;
      position: absolute
    }
  }

  &__label {
    font-weight: 600;
    flex-shrink: 0;
    width: 120px;
    padding-top: 4px;

    &--no-top {
      padding-top: 0;
    }

    &--smaller {
      width: 80px;
    }

    &--light {
      font-weight: normal;
      width: 60px;
    }
  }

  &__description {
    font-weight: normal;
    font-size: .95em;
    opacity: .7;

    &--inline {
      padding-left: 3px;
      display: inline-block;
    }

    &--small {
      padding-top: 5px;
      font-weight: normal;
      font-size: .8em;
      opacity: 0.5;
    }
  }

  .add-new {
    font-weight: 600;
    text-decoration-color: transparentize(#0073aa, .5)
  }
}

.label__rared {
  padding-right: .85em;

  &:last-child {
    padding-right: 0;
  }

  @include breakpoint(mobile) {
    display: inline-block;
    padding-bottom: .5rem;
    padding-top: .5rem;
    width: 46px;
  }
}

.wide-form {
  padding: .5rem 0;

  &__header {
    font-weight: 600;
    padding-bottom: .45rem;
  }

  &__row {
    padding: .4rem 0;
    display: flex;
  }

  &__label {
    padding-top: 2px;
    padding-right: .5rem;
    width: 60%;
    max-width: 400px;
  }
}

.form-control {
  &--wide {
    margin-bottom: 4px;
    width: 100%;
  }
}