<div id="eddbk-settings-page" v-cloak>
    <div class="vcloak--visible loading-container"></div>
    <settings-application success-message="Changes successfully saved!" error-message="Error occurred during changes saving" inline-template>
        <div class="wrap vcloak--hidden">
            <h1 class="wp-heading-inline">
                {{ _('EDD Bookings Settings') }}
            </h1>
            <hr class="wp-header-end">

            ${generalSettingsTab}
        </div>
    </settings-application>
</div>

${components}