<div style="max-width: 850px">
    <h2>Welcome to EDD bookings 👋</h2>

    <p>This is the new, and very much improved, EDD Bookings.</p>

    <p>EDD Bookings is a premium, third-party extension for Easy Digital Downloads, brought to you by RebelCode.</p>

    <div class="button-hero-row">
        <a class="button button-hero" href="#" target="_blank">Get Started with <br>Our Tutorials</a>
        <a class="button button-hero" href="#" target="_blank">View Version 0.1 <br/>Release Notes</a>
        <a class="button button-hero" href="#" target="_blank">Enter Your License Key <br/> for Updates & Support</a>
    </div>
    <div class="button-hero-row">
        <a class="button button-hero" href="#" target="_blank">Browse Our <br/>Roadmap</a>
        <a class="button button-hero" href="#" target="_blank">Submit a <br/> Feature Request</a>
        <a class="button button-hero" href="#" target="_blank">Contact Us<br/>for Support</a>
    </div>
</div>