<div style="max-width: 600px">
    <h2>COMING SOON.</h2>

    <p>The EDD Bookings About and Settings pages are currently under development. </p>

    <p>They will be available in a future Beta release.</p>

    <hr>

    <p><strong>IMPORTANT:</strong> The Beta version of EDD Bookings is <strong>not</strong> to be used on live websites. It is to be tested on local installations, staging sites, or other development environments. This is to protect you and your users from any possible bugs or security issues.
    </p>

    <p>We cannot, and do not, guarantee that this plugin will not break something on your site while it remains in Beta, so please proceed with caution and keep backups of any sensitive data you may have on your WordPress site.</p>
    <hr>

    <p>EDD Bookings uses Easy Digital Downloads to create and manage services and bookings.</p>

    <p>For this reason, your services are currently called "Downloads" within this dashboard.</p>

    <p><a class="button button-primary button-hero" href="https://eddbookings.com/beta-download/beta-testing/" target="_blank">Follow Our Beta Guidelines</a></p>

    <p>We recommend keeping our guidelines open in a new window or tab. This will allow you to test while following the instructions side-by-side.</p>

    <p>To learn more, <a href="https://docs.eddbookings.com/" target="_blank">visit our brand new (and growing) Knowledge Base</a>.</p>
</div>