<div style="max-width: 850px" class="wrap">
    <h2>Welcome to EDD bookings 👋</h2>

    <p>EDD Bookings is a premium, third-party extension for
        <a href="${edd_ref_url}" target="_blank">Easy Digital Downloads</a>, brought to you by
        <a href="${rebelcode_url}" target="_blank">RebelCode</a>.</p>

    <p>
        Your services are currently listed as "Downloads" in your dashboard. To make a Download a Service, simply enable bookings within the Edit Download page.
    </p>

    <p>
        To display the booking wizard to your clients, add the <a href="${how_to_wizard_url}" target="_blank">EDD Bookings shortcode</a> to any post, page or other area on your site: [eddbk]
    </p>

    <div class="button-hero-row button-hero-row--2">
        <div class="button-hero-container">
            <a class="button button-hero" href="${get_started_url}" target="_blank">
                <span>
                    Follow Our <br/>'Getting Started' Tutorials <span class="dashicons dashicons-external"></span>
                </span>
            </a>
        </div>

        <div class="button-hero-container">
            <a class="button button-hero" href="${enter_license_url}" target="_blank">
                <span>
                    Enter Your License Key <br/>for Updates & Support <span class="dashicons dashicons-external"></span>
                </span>
            </a>
        </div>
    </div>
    <div class="button-hero-row button-hero-row--2">
        <div class="button-hero-container">
            <a class="button button-hero" href="${feature_request_url}" target="_blank">
                <span>
                    Share a Feature Request <span class="dashicons dashicons-external"></span>
                </span>
            </a>
        </div>
        <div class="button-hero-container">
            <a class="button button-hero" href="${contact_us_url}" target="_blank">
                <span>
                    Contact Our <br/> Support Team <span class="dashicons dashicons-external"></span>
                </span>
            </a>
        </div>
    </div>
</div>